<app-loader *ngIf="loader"></app-loader>
<form [formGroup]="profileForm" (ngSubmit)="profileForm.valid && send()" class="col-12 pt-5">
  <div class="row">
    <div class="col-md-2">
      <div class="h5 font-weight-bold">Image: </div>
    </div>
    <div class="col-md-10">
      <app-file-loader formControlName="image" accept="image/*"></app-file-loader>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="h5 font-weight-bold">Name: </div>
    </div>
    <div class="col-md-10">
      <mat-form-field>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="h5 font-weight-bold">Type: </div>
    </div>
    <div class="col-md-10">
      <mat-form-field>
        <mat-select formControlName="type">
          <mat-option *ngFor="let userType of userTypes" [value]="userType.type">
            {{userType.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="h5 font-weight-bold">E-mail: </div>
    </div>
    <div class="col-md-10">
      <mat-form-field>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="h5 font-weight-bold">Description: </div>
    </div>
    <div class="col-md-10">
      <mat-form-field>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>

