<div class="container">
  <div class="close" appCloseModalButton>
    <span>×</span>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-2">
      <span class="h2">Reset Password</span>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" class="col-12">
      <div class="">
        <mat-form-field class="d-block w-100">
          <input matInput placeholder="Email" type="text" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col p-0 text-center d-flex justify-content-center align-items-center">
        <button mat-raised-button color="primary" type="submit">Reset password</button>
      </div>
    </form>
  </div>
</div>

