<div class="loader">
  <div class="icon" [class.animate]="active">
    <div class="icon__fragment icon__fragment--l-t">
      <i class="material-icons">search</i>
    </div>
    <div class="icon__fragment icon__fragment--r-t">
      <i class="material-icons">search</i>
    </div>
    <div class="icon__fragment icon__fragment--l-b">
      <i class="material-icons">search</i>
    </div>
    <div class="icon__fragment icon__fragment--r-b">
      <i class="material-icons">search</i>
    </div>
  </div>
</div>

