<div class="loader" [ngStyle]="{
                        'background-color' : backgroundColor
                      }">
  <div class="icon" [class.animate]="active">
    <div class="icon__fragment icon__fragment--l-t">
      <img class="icon__img" src="./assets/loader.png" alt="">
    </div>
    <div class="icon__fragment icon__fragment--r-t">
      <img class="icon__img" src="./assets/loader.png" alt="">
    </div>
    <div class="icon__fragment icon__fragment--l-b">
      <img class="icon__img" src="./assets/loader.png" alt="">
    </div>
    <div class="icon__fragment icon__fragment--r-b">
      <img class="icon__img" src="./assets/loader.png" alt="">
    </div>
  </div>
</div>

